<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.Leader_saleMapper">
    <select id="getAllSale" resultType="com.kgc.pojo.leader.Leader_sale">
        SELECT * FROM leader_sale
        <where>
            <if test="LeaderId != null and LeaderId !='' ">
                LeaderId=#{LeaderId}
            </if>
        </where>
        LIMIT ${index},${size}
    </select>
    <select id="getCount" resultType="int">
        SELECT count(*) FROM leader_sale
        <where>
            <if test="LeaderId != null and LeaderId !='' ">
                LeaderId=#{LeaderId}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="com.kgc.pojo.leader.Leader_sale">
      INSERT INTO leader_sale VALUES
      (NULL,#{LeaderId},#{Ticheng},#{Dingdan},#{Salemoney},NOW())
    </insert>

    <select id="getSaleById" resultType="com.kgc.pojo.leader.Leader_sale">
        SELECT * FROM leader_sale
        where id=#{id}
    </select>

    <update id="update" parameterType="com.kgc.pojo.leader.Leader_sale">
        UPDATE leader_sale SET
        LeaderId=#{LeaderId},
        Ticheng=#{Ticheng},
        Dingdan=#{Dingdan},
        Salemoney=#{Salemoney},
        data=#{data}
        where id=#{id}
    </update>

    <select id="getTichengToday" resultType="string">
        SELECT SUM(Ticheng)  FROM leader_sale
        WHERE TO_DAYS(DATA)=TO_DAYS(NOW());
    </select>

    <select id="getTichengMonth" resultType="string">
        SELECT SUM(Ticheng) FROM leader_sale
        WHERE DATE_FORMAT( DATA,'%Y%m') = DATE_FORMAT( CURDATE( ),'%Y%m')
    </select>
</mapper>