<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.TeamOrderMapper">
    <select id="getAllTeam" resultType="com.kgc.pojo.order.TeamOrder">
        select * from teamorder where leaderId=#{leaderId}
    </select>
    <insert id="add" parameterType="com.kgc.pojo.order.TeamOrder">
        insert into teamorder values(null,#{goodsId},#{leaderId},#{orderType},#{goodsNumber},#{quota},#{startTime},#{endTime},#{version})
    </insert>
    <update id="update" parameterType="com.kgc.pojo.order.TeamOrder">
        update teamorder set goodsNumber=#{goodsNumber},version=${version}+1  where teamId=#{teamId} and version=#{versionValue}
    </update>
    <delete id="delete" parameterType="int">
        delete * from teamorder where teamId=#{teamId}
    </delete>
    <select id="getVersion" resultType="int">
        select version from teamorder where teamId=#{teamId}
    </select>
    <update id="updateGoodsNum" parameterType="java.util.Map">
        update teamorder set goodsNumber=#{goodsNumber},version=version+1 where teamId=#{teamId} and goodsId=#{goodsId} and version=#{versionValue}
    </update>
    <select id="getTeamOrder" resultType="com.kgc.pojo.order.TeamOrder">
        select * from teamorder where teamid=#{teamId}
    </select>
</mapper>