<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.ShopMapper">

    <select id="getShopById" resultType="com.kgc.pojo.shops.ShopCar">
        SELECT * FROM shop WHERE ShopId=#{ShopId}
    </select>

    <insert id="add" parameterType="com.kgc.pojo.shops.ShopCar">
        INSERT INTO shop VALUES(NULL,#{UserId},#{GoodsId},#{GoodsNumber},NOW());
    </insert>

    <update id="update" parameterType="com.kgc.pojo.shops.ShopCar">
        UPDATE shop SET UserId=#{UserId},GoodsId=#{GoodsId},GoodsNumber=#{GoodsNumber}
    </update>

    <delete id="delete" parameterType="int">
        delete from shop where id=#{ShopId}
    </delete>

</mapper>  